
.generateMap {
  background-color: rgb(104, 208, 214);
  font-size: 10px;
  color: white;
  /* text-shadow: 2px, 2px, 2px, pink; */
  border: outset;
  border-color: rgb(171, 241, 244);
  opacity: 0.2;
  box-shadow: 5px 5px 5px blue;

}
.generateMap:hover{
  opacity: 1;
  box-shadow: 5px 5px 5px blue;
}

.generateTwo{
  background-color: rgb(104, 208, 214);
  font-size: 10px;
  color: white;
  /* text-shadow: 2px, 2px, 2px, pink; */
  border: outset;
  border-color: rgb(171, 241, 244);
  opacity: 0.2;
  box-shadow: 5px 5px 5px blue;

}
.generateTwo:hover{
  opacity: 1;
  box-shadow: 5px 5px 5px blue;
}

.badButton{
  background-color: rgb(104, 208, 214);
  font-size: 10px;
  color: white;
  /* text-shadow: 2px, 2px, 2px, pink; */
  border: outset;
  border-color: rgb(171, 241, 244);
  opacity: 0.2;
  box-shadow: 5px 5px 5px blue;

}
.badButton:hover{
  opacity: 1;
  box-shadow: 5px 5px 5px blue;
}

.goodButton{
  background-color: rgb(104, 208, 214);
  font-size: 10px;
  color: white;
  /* text-shadow: 2px, 2px, 2px, pink; */
  border: outset;
  border-color: rgb(171, 241, 244);
  opacity: 0.2;
  box-shadow: 5px 5px 5px blue;

}
.goodButton:hover{
  opacity: 1;
  box-shadow: 5px 5px 5px blue;
}

.otherButton{
  background-color: rgb(104, 208, 214);
  font-size: 10px;
  color: white;
  /* text-shadow: 2px, 2px, 2px, pink; */
  border: outset;
  border-color: rgb(171, 241, 244);
  opacity: 0.2;
  box-shadow: 5px 5px 5px blue;

}
.otherButton:hover{
  opacity: 1;
  box-shadow: 5px 5px 5px blue;
}

.anotherButton{
  background-color: rgb(104, 208, 214);
  font-size: 10px;
  color: white;
  /* text-shadow: 2px, 2px, 2px, pink; */
  border: outset;
  border-color: rgb(171, 241, 244);
  opacity: 0.2;
  box-shadow: 5px 5px 5px blue;

}
.anotherButton:hover{
  opacity: 1;
  box-shadow: 5px 5px 5px blue;
}
